@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply h-screen w-screen;
} */

body > div {
  @apply px-12 py-8;
}

.page-container {
  @apply flex flex-col items-center justify-center;
}

* {
  /* outline: red 1px solid; */
}

.bg-animate {
  background-size: 500%;

  -webkit-animation: bg-animated 15s ease-in-out infinite;
  -moz-animation: bg-animated 15s ease-in-out infinite;
  animation: bg-animated 15s ease-in-out infinite;
}

@keyframes bg-animated {
  0%{
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tooltip .tooltip::before  {
  @apply opacity-55;
}

.btn {
  @apply text-lg font-medium;
}

.form-transition {
  @apply transition-colors ease-in-out;
}

.text-transition {
  @apply transition-all ease-in-out opacity-55 hover:opacity-100;
}

.sidebar {
  @apply fixed h-full p-4 bg-primary rounded-r-2xl bg-opacity-5 backdrop-blur-xl ring-2 ring-primary ;
}

.sidebar-item {
  @apply flex items-center justify-center size-12 cursor-pointer rounded-xl ring-1 ring-primary ring-opacity-50 hover:rounded-3xl hover:bg-primary hover:bg-opacity-90 hover:text-primary-content;
}

.sidebar-item-active {
  @apply flex items-center justify-center size-12 cursor-pointer ring-1 ring-primary ring-opacity-50 rounded-3xl bg-primary bg-opacity-90 text-primary-content;
}

.sidebar-animation {
  @apply transition-all duration-150 ease-linear;
}